.form-bike {
  width: 100%;
  /* max-width: 20.625rem; */
  padding-top: 10rem;
  padding-bottom: 6.25rem;
  padding-inline: 2rem;
  /* margin: auto; */
}

@media(min-width: 768px) {
  .form-bike {
    padding-inline: 4rem;
  }
}

@media(min-width: 1024px) {
  .form-bike {
    padding-inline: 8rem;
  }
}

.form-field {
  
}